<div class="flex w-full h-full">
  <div
    class="flex items-center justify-center w-1/2 text-2xl font-bold bg-blue-100"
  >
    login page!
  </div>
  <div class="flex items-center justify-center w-1/2">
    <div class="flex flex-col">
      <span class="justify-center mb-4 text-xl font-bold text-center"
        >here to login</span
      >
      <form nz-form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label nzFor="email" nzSpan="6" nzRequired
            >email</nz-form-label
          >
          <nz-form-control
            nzSm="18"
            nzHasFeedback
            nzValidatingTip="validating!"
            [nzErrorTip]="emailErrorTpl"
          >
            <input nz-input formControlName="email" placeholder="email" />
            <ng-template #emailErrorTpl let-control>
              @if (control.errors?.['required']) { Please input your email! }
              @if (control.errors?.['email']) { are u sure? }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="password" nzSpan="6" nzRequired
            >pwd</nz-form-label
          >
          <nz-form-control
            nzSm="18"
            nzHasFeedback
            nzValidatingTip="validating!"
            [nzErrorTip]="emailErrorTpl"
          >
            <input nz-input formControlName="password" placeholder="password" />
            <ng-template #emailErrorTpl let-control>
              @if (control.errors?.['required']) { Please input your password! }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzOffset="6">
            <button nz-button nzType="primary" [disabled]="!loginForm.valid" class="mr-5">
              Submit
            </button>
            <button nz-button (click)="resetForm($event)">Reset</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
